td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
tr {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}