#modalWindow {
      position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto auto 47%;
    
}
#newTable{
    display: none;
}
#modalWindow > * {
    display: block;
    padding: 6px;
    margin: 5px;
}
#buttonNew
{
    position: relative;
    left: 20%;
}